{% extends 'base.html' %}



{% block content %}

{% load static %}





<!-- contact section TRY IT  -->

<section class="features" id="tryit">





          
  <div class="box-container">
      <div class="box" >
          <div class="col">
      <form role="form" class='form-horizontal' action="process/" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
          
          <h1 class="heading">Try DeepFace with a smile :)</h1>
          <p>Upload one of your picture and DeepFace will detect your emotions, your age, your gender, and your race!</p>
          
          <div class="inputBox">
              <h2>Select a Model</h2>
              <select  name="model_choices"  class="btn1"  >
                  <option selected>Open this select menu</option> 
                  {%for model in form.model_choices%}                    
                  <li> {{model}} </li>
                  {%endfor%}
              </select>
          </div>

          <div class="inputBox">


              <h2>Select Distance Matric</h2>
              <select name="metric_choices" class="btn1"  ">
                  <option selected>Open this select menu</option> 
                  {%for metric in form.metric_choices%}                    
                  <li> {{metric}} </li>
                  {%endfor%}
                  
              </select>
          </div>

          <div class="inputBox">
              <h2>Select Backend Detector</h2>
              <select name="detector_choices" class="btn1"  ">
                  <option selected>Open this select menu</option> 
                  {%for detector in form.detector_choices%}                    
                  <li> {{detector}} </li>
                  {%endfor%}
              </select>
          </div>

          <div class="form-group col-xs-3 " style="padding: 10px;">
                  
              <input type="file"  id="myImage" name="img" accept="image/*"/>

          </div>
          <div class="form-group col-xs-3 " style="padding: 10px;">
              <input type="submit" class="btn" value="Submit">
          
          </div>
      </form>
      </div>
  

  </div>

  </section>

  <!-- tryit section edns -->


<!-- contact section train IT  -->


</html>
{% endblock %}