{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- contact section train IT  -->

<section class="features" id="trainit">





          
  <div class="box-container">
      <form role="form" class='' action="" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
      <div class="box">
          <img src="images/f-icon1.png" alt="">
          <h3>What is deepFace Train?</h3>
          <p>If you want our model to recognize and detect your face when you try a new photo.</p><br>
          
          <p>Put some pictures of yourself and train them.</p>
              <br>
          <p> The next time you try analyse a new picture of yourself,It will recognize you and your name will appear in the Name section.</p>
          
      </div>
      
      <div class="box" >    
          <h1 class="heading">Try DeepFace train</h1>
          <p>
              filename should start with "labelname_"
              for example, if the image of Bill Gates, it should be BillGate_xxxx.jpg
          </p>
          <div class="inputBox">
              <h2>Select a Model</h2>
              <select  name="model_choices"  class="btn1" >
                  <option selected>Open this select menu</option> 
                  {%for model in form.model_choices%}                    
                  <li> {{model}} </li>
                  {%endfor%}
              </select>
          </div>

          <div class="inputBox">
              <h2>Select Distance Matric</h2>
              <select name="metric_choices" class="btn1" >
                  <option selected>Open this select menu</option> 
                  {%for metric in form.metric_choices%}                    
                  <li> {{metric}} </li>
                  {%endfor%}
                  
              </select>
          </div>

          <div class="inputBox">
              <h2>Select Backend Detector</h2>
              <select name="detector_choices" class="btn1" >
                  <option selected>Open this select menu</option> 
                  {%for detector in form.detector_choices%}                    
                  <li> {{detector}} </li>
                  {%endfor%}
              </select>
          </div>

          <div class="form-group col-xs-3 " style="padding: 10px;">
                  
              <input type="file"  id="images" name="images" accept="image/*" multiple/>

            </div>
            <div class="form-group" style="padding: 10px;">
              
             <ul>
                 <li>
                     select image need to be trained 
                 </li>
                 
             </ul>

            </div>
            <div class="form-group col-xs-3 " style="padding: 10px;">
          <button type="submit" class="btn btn-primary">Train</button>
        </div>
      </div>
      </form>
      


  </div>

  </section>

  <!-- trainit section edns -->





</html>
{% endblock %}